/* styling for content widgets with blue background */

.content-widget-b {
    background-color: #C9E9F7;
    padding: 10px 5px 5px 5px;
}

.content-widget-b .title {
    font-weight: bold;
}

.content-widget-b li {
    list-style-type: none;
}

.content-widget-b a {
    color: #000000;
    text-decoration: underline;
}

.content-widget-b a:hover,
.content-widget-b a:focus {
    color: #AD1921;
}

.content-widget-b h4 {
    color: #AD1921;

}