.navigation{
    font-size:14px;
    width:800px;
    color:#6F6F6F;
}
.navigation a:hover{
    text-decoration:none;
}

.navigation  a{
    color:#6F6F6F;
    font-weight:bold;
}

.navigation  .active{
    list-style-type:none;
    display:inline;
    
}
.navigation  .active a{
    color:#AD1921;
    text-decoration:none;
    font-weight:bold;
    display:inline;
}

.navigation .submenu  a{
    color:#6F6F6F;
    padding:5px;
    background-color:#B1B3B3;
    margin-left:-25px;
}
.navigation li{
    display:inline;
}