/* this is gonna be great! */
/* This is a little branch test. wohooooo */

.tableEmployee tr:nth-child(even) {
    background:#E1E1E1;   
}

.tableEmployee td, th {
    padding:10px 6px;
}

.tableEmployee th {
    border-top:2px solid #6F6F6F; /* TODO: correct color */
    border-bottom:2px solid #6F6F6F; /* TODO: correct color */
    padding: 6px;
}

.tableEmployee th ~ th {
       color:#6F6F6F;
}

.tableEmployee {
    width:100%;   
}

.tableEmployee a {
 font-weight:bold;   
}

.tableEmployee th img {
    width:10px;
    height:10px;
    margin-left:5px;
    position:relative;
    top:1px;
    transform:rotate(180deg);
}

.tableEmployee th img:hover {
    cursor:pointer;
}

.triangleUp, .triangleDown, .triangleUpDown {
    position:relative;
    width:0px;
    height:0px;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #000000 transparent;
    margin-left:5px;
    display:inline-block;
}

.triangleDown, .triangleUpDown {
    border-width: 6px 4px 0 4px;
    border-color: #000000 transparent transparent transparent;
}

.triangleUp:hover, .triangleDown:hover, .triangleUpDown:hover {
    cursor: pointer;
}

.triangleUpDown:before {
    content:"";
    position:absolute;
    top:-13px;
    left:-4px;
    width:0px;
    height:0px;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #000000 transparent;
}