/* this is gonna be great! */
/* This is a little branch test. wohooooo */

.tableEmployee tr:nth-child(even) {
    background:#E1E1E1;   
}

.tableEmployee td, th {
    padding:10px 6px;
}

.tableEmployee th {
    border-top:2px solid gray; /* TODO: correct color */
    border-bottom:2px solid gray; /* TODO: correct color */
    padding: 6px;
}

.tableEmployee th ~ th {
       color:gray; /* TODO: correct color */
}

.tableEmployee {
    width:100%;   
}

.tableEmployee a {
 font-weight:bold;   
}